.item {
    background: #f4f4f4;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
  }
  
  .item.important {
    border-left: 0.5rem solid red;
  }
  
  .item h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }