.container {
    max-width: 32rem;
    margin: 1rem auto;
    overflow: auto;
    min-height: 18.75rem;
    border: 0.125rem solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    // background-color: #FFFDE0;
  }